<div class="text-field">
  <%= form.label :name %>
  <%= form.text_field :name %>
</div>

<div class="text-field">
  <%= form.label :description %>
  <%= form.text_field :description %>
</div>

<div class="text-field">
  <%= form.label :price %>
  <%= form.number_field :price%>
</div>

<div class="text-field">
  <%= form.label :city %>
  <%= form.text_field :city %>
</div>

<div class="text-field">
  <%= form.label :cancelation_rules %>
  <%= form.text_field :cancelation_rules %>
</div>

<div class="collection-check-boxes-field">
  <% amenities = ["Elevator", "Pets allowed", "Kitchen", "Air conditioning", "Internet", "Pool"]%>
  <% listing_amenities = @user_listing.amenities || [] %>
  <%= form.label "Amenities: "  %>
  <% amenities.each do |tag| %>
    <% if listing_amenities.include? tag %>
      <% checked = true %>
    <% else %>
      <% checked = false %>
    <% end %>

    <%= form.check_box :amenities, { multiple: true, checked: checked }, tag, false %>
    <%= tag %>
  <% end %>
</div>
