<div>
  <h2><%= t(".title") %></h2>
  <p> <%= "Your list is not approved yet!" if @user_listing.verification == false %> </p>

  <%= form_for [current_user, @user_listing] do |form| %>
    <%= render partial: '/listings/form', object: form %>
    <div class="submit-field">
      <%= form.submit %>
    </div>

  <% end %>
</div>
