<% @listings.each do |listing| %>
  <p>Name: <%= listing.name %></p>
  <p>Owner: <%= listing.user_id%></p>
  <p>Description: <%= listing.description %></p>
  <p>Price <%= listing.price %></p>
  <p>Cancelation rules: <%= listing.cancelation_rules %></p>
  <%= link_to "Edit listing", edit_user_listing_path(current_user.id, listing.id)%>
  <%= link_to "Open Listing", user_listing_path(current_user.id, listing.id)%>
<% end %>

<%= link_to "Back to profile page", user_path(current_user.id)%>
