<h1>HERE YOU CAN SEE ONE LISTING</h1>
<p> <%= "Your list is not approved yet!" if @listing.verification == false %> </p>

<div>
  <% if !@listing.images.empty? %>
    <%= form_for @listing, url: remove_images_path(@listing), method: :patch do |f| %>
      <% @listing.images.each_with_index do |image, index| %>
        <%= image_tag(image.url) %>
        <label>
          <%= f.check_box :images, { multiple: true, checked: false }, index, false %>
          Remove image
        </label>
      <% end %>
      <br>
      <%= f.submit "Delete photo" %>
    <% end %>
  <% end %>
</div>

<br>
<p>Name: <%= @listing.name %></p>
<p>Owner: <%= @listing.user.first_name%></p>
<p>Description: <%= @listing.description %></p>
<p>Price <%= @listing.price %></p>
<p>Cancelation rules: <%= @listing.cancelation_rules %></p>
<p>
    Amenities: <br>
    <% all_amenities = @listing.amenities.split(",") if @listing.amenities %>
    <% if all_amenities %>
      <% all_amenities.each do |amenitie|%>
        <p><%= amenitie %></p>
      <% end %>
    <% end %>
  </p>
<% if current_user.id == @listing.user_id %>
  <%= link_to "Edit listing", edit_user_listing_path(current_user.id, @listing.id) %>
  <%= link_to "Delete listing", user_listing_path(current_user, @listing), :comfirm => "Are you shure?", :method => :delete %>
<% else %>
  <%= link_to "Book now", new_user_reservation_path(:listing_id => @listing.id)  %>
<% end %>
