<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application' %>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <%= csrf_meta_tag %>
</head>
<body>
  <nav class="navbar  bg-light navbar-inverse" >
      <%= form_tag all_listings_path, class: "form-inline", :method => 'get' do %>
        <%= text_field_tag :city, "", class: 'form-control mr-sm-2', placeholder: 'Enter city' %>
        <%= button_tag "Search", {class: 'btn btn-outline-success my-2 my-sm-0'}%>
      <% end %>
      <% if signed_in? -%>
          <%= button_to t(".sign_out"), sign_out_path, method: :delete %>
          <% if current_user.profile_photo.url %>
            <button>
              <%= link_to image_tag(current_user.profile_photo.url(:nav)), user_path(current_user.id)%>
            </button>
          <% else %>
            <button>
              <%= link_to t('.profile'), user_path(current_user.id)%>
            </button>
          <% end %>
      <% else -%>
        <%= link_to t(".sign_in"), sign_in_path %>
        <%= link_to t(".sign_up"), sign_up_path %>
      <% end -%>
  </nav>

  <div id="flash">
    <% flash.each do |key, value| -%>
      <div id="flash_<%= key %>"><%=h value %></div>
    <% end %>
  </div>

  <%= yield %>
</body>
</html>
